#letter {
  display: none;
}

body {
  background-color: lightgrey;
}

html, body {
  height: 100%;
}

.highlight {
  border: 1px black solid;
  padding: 10px;
  background-color: #FFFF00;
}

#header {
  text-align: right;
}

.signature {
  text-align: right;
}
